{
        "version": "10",
        "aliases": {

                "minio-1": {
                        "url": "https://minio-1.utf9.de",
                        "accessKey": "{{ minio_access_key }}",
                        "secretKey": "{{ vault_minio_secret_key }}",
                        "api": "s3v4",
                        "path": "auto"
                }
        }
}