version: "3"

services:
  heimdall:
    image: linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /opt/compose/heimdall/config:/config
    ports:
      - "{{ worker_node_wg_ip }}:8080:80"
      - 443
    restart: always

  gitea:
    image: gitea/gitea
    container_name: gitea
    volumes:
      - /opt/compose/gitea/data:/data
    environment:
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__service__REQUIRE_SIGNIN_VIEW=true
      - GITEA__repository__DEFAULT_PRIVATE=private
    ports:
      - "{{ worker_node_wg_ip }}:3000:3000"
      - "2222:22"
    restart: always

  nzb:
    image: linuxserver/nzbget
    container_name: nzb
    cpus: 2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /opt/compose/usenet/nzb/config:/config
      - /opt/media/downloads/nzb/downloads:/downloads
    ports:
      - "{{ worker_node_wg_ip }}:6789:6789"
    restart: always

  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /opt/compose/usenet/sonarr/config:/config
      - /opt/compose/usenet/sonarr/downloads:/downloads
    ports:
      - "{{ worker_node_wg_ip }}:8989:8989"
    restart: always

  nzbhydra2:
    image: ghcr.io/linuxserver/nzbhydra2
    container_name: hydra
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /opt/compose/usenet/hydra/config:/config
    ports:
      - "{{ worker_node_wg_ip }}:5076:5076"
    restart: always
