http:
  routers:
    to-gitea:
      rule: Host(`gitea.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - default-headers
      service: gitea
      tls:
        domains:
          - main: "gitea.utf9.de"
  services:
    gitea:
      loadBalancer:
        servers:
        - url: "http://{{ worker_node_wg_ip }}:3000"