http:
  routers:
    to-heimdall:
      rule: Host(`heimdall.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - chain-authelia
      service: heimdall
      tls:
        domains:
          - main: "heimdall.utf9.de"
  services:
    heimdall:
      loadBalancer:
        servers:
        - url: "http://{{ worker_node_wg_ip }}:8080"