http:
  routers:
    to-hydra:
      rule: Host(`hydra.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - chain-authelia
      service: hydra
      tls:
        domains:
          - main: "hydra.utf9.de"
  services:
    hydra:
      loadBalancer:
        servers:
        - url: "http://{{ worker_node_wg_ip }}:5076"