http:
  routers:
    to-nzb:
      rule: Host(`nzb.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - chain-authelia
      service: nzb
      tls:
        domains:
          - main: "nzb.utf9.de"
  services:
    nzb:
      loadBalancer:
        servers:
        - url: "http://{{ worker_node_wg_ip }}:6789"