http:
  routers:
    to-sonarr:
      rule: Host(`sonarr.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - chain-authelia
      service: sonarr
      tls:
        domains:
          - main: "sonarr.utf9.de"
  services:
    sonarr:
      loadBalancer:
        servers:
        - url: "http://{{ worker_node_wg_ip }}:8989"