http:
  routers:
    to-tautulli:
      rule: Host(`tautulli.utf9.de`)
      entryPoints:
        - web
        - web-secure
      middlewares:
        - chain-authelia
      service: tautulli
      tls:
        domains:
          - main: "tautulli.utf9.de"
  services:
    tautulli:
      loadBalancer:
        servers:
        - url: "http://{{ streaming_node_wg_ip }}:8181"