[Interface]
Address = 10.0.60.1/24
PrivateKey = {{ wireguard.server_privatekey }}
ListenPort = 51820

######### mobile

# {{ wireguard.client1_description }}
[Peer]
PublicKey = {{ wireguard.client1_pubkey }}
AllowedIPs = {{ wireguard.client1_ip }}/32
PersistentKeepalive = 25

# {{ wireguard.client2_description }}
[Peer]
PublicKey = {{ wireguard.client2_pubkey }}
AllowedIPs = {{ wireguard.client2_ip }}/32
PersistentKeepalive = 25

############ site1

# {{ wireguard.client3_description }}
[Peer]
PublicKey = {{ wireguard.client3_pubkey }}
AllowedIPs = {{ wireguard.client3_ip }}/32
PersistentKeepalive = 25

# {{ wireguard.client4_description }}
[Peer]
PublicKey = {{ wireguard.client4_pubkey }}
AllowedIPs = {{ wireguard.client4_ip }}/32
PersistentKeepalive = 25


########## site2

# {{ wireguard.client5_description }}
[Peer]
PublicKey = {{ wireguard.client5_pubkey }}
AllowedIPs = {{ wireguard.client5_ip }}/32
PersistentKeepalive = 25

# {{ wireguard.client6_description }}
[Peer]
PublicKey = {{ wireguard.client6_pubkey }}
AllowedIPs = {{ wireguard.client6_ip }}/32
PersistentKeepalive = 25

# {{ wireguard.client7_description }}
[Peer]
PublicKey = {{ wireguard.client7_pubkey }}
AllowedIPs = {{ wireguard.client7_ip }}/32
PersistentKeepalive = 25

# {{ wireguard.client8_description }}
[Peer]
PublicKey = {{ wireguard.client8_pubkey }}
AllowedIPs = {{ wireguard.client8_ip }}/32
PersistentKeepalive = 25


