---
###############################################################
#                   Authelia configuration                    #
###############################################################

jwt_secret: "{{ authelia.jwt_token }}"
default_redirection_url: https://authelia-{{ site }}.{{ domain }}

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE

totp:
  issuer: authelia.com

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml


access_control:
  default_policy: deny
  rules:
    # Rules applied to everyone
    - domain: authelia-{{ site }}.{{ domain }}
      policy: bypass
    - domain:
        - "*.{{ domain }}"
        - "{{ domain }}"
      policy: two_factor


session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: "{{ authelia.session_secret }}"
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: {{ domain }} # Should match whatever your root protected domain is


#  redis:
#    host: redis
#    port: 6379
    # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
    # password: authelia

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: "{{ authelia.encryption_key }}" 
  local:
    path: /config/db.sqlite3

notifier:
  # For testing purposes, notifications can be sent in a file. Be sure to map the volume in docker-compose.
  disable_startup_check: true
  filesystem:
    filename: /config/notification.txt
...
