---
###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  authelia:
    displayname: "{{ authelia.user1_username }}"
    # Password is authelia
    password: "{{ authelia.user1_password }}"  # yamllint disable-line rule:line-length
    email: {{ authelia.user1_email }}
    groups:
      - admins
      - dev
...
