http:

  middlewares:
    # Define an authentication mechanism
    basic-auth:
      basicAuth:
        users:
        - "{{ traefik_basic_auth }}"
    https-redirect:
      redirectScheme:
        scheme: https

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    middlewares-authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://authelia-{{ site }}.{{ domain }}"
        trustForwardHeader: true
        authResponseHeaders:
          - "Remote-User"
          - "Remote-Groups"

    chain-authelia:
      chain:
        middlewares:
          - default-headers
          - middlewares-authelia