version: "3"
services:
  authelia:
    image: authelia/authelia
    container_name: authelia
    volumes:
      - /opt/compose/authelia/config:/config
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.authelia.rule=Host(`authelia-{{ site }}.{{ domain }}`)'
      - 'traefik.http.routers.authelia.entrypoints=web-secure'
      - 'traefik.http.routers.authelia.tls=true'
      - 'traefik.http.routers.authelia.tls.domains.main=authelia-{{ site }}.{{ domain }}'
      - 'traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://authelia-{{ site }}.{{ domain }}'  # yamllint disable-line rule:line-length
      - 'traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'  # yamllint disable-line rule:line-length
    ports:
      - "9091:9091"
    restart: unless-stopped
    networks:
      - traefik
    healthcheck:
      disable: true
    environment:
      - "TZ=Europe/Berlin"
 
networks:
  traefik:
    external: true